{% extends 'base.html' %} {% block data %}
<div class="container my-4 m-auto text-center">
    <div class="card m-auto" style="width: 18rem;">
        
        <form class="card-body" action="/" method="post">
          <h5 class="card-title">Create Or Join Room</h5>
          <hr>
          {% if error %}
          <ul >
            <li style="color: red; font-weight: bold;" id="errorMsg">{{error}}</li>
          </ul>
          {% endif %}
          <input type="text" placeholder="Enter Your Name" name="name" id="name" value="{{name}}" class="form-control my-4 card-text" style="border: 2px solid gray;" required>
          <input type="hidden" value="" id="room_id" name="room_id" class="form-control my-4 card-text" style="border: 2px solid gray;">
          <button class="btn btn-primary" type="submit" name="create" onclick="generateUniqueId()" >Create Room</button>
          <h5 class="my-2">OR</h5>
          <input type="text" placeholder="Enter Your Room Id" name="code" class="form-control my-2" style="border: 2px solid gray;">
          <button type="submit" class="btn btn-primary" name="join" onclick="">Join Room</button>
        </form>
      </div>

     
</div>
<script>

  function generateUniqueId() {
    var name = document.getElementById('name').value
    if (name == '' ){
      alert("Please Enter Your Name")
    }else{
    var timestamp = new Date().getTime(); // Get current timestamp
    var random = Math.floor(Math.random() * 1000000); // Generate random number

    var uniqueId = 'RoomId_' + timestamp + random; // Combine timestamp and random number
    document.getElementById('room_id').value = uniqueId
    // document.getElementById('uniqueId').textContent = uniqueId; // Display the unique ID

    alert('your room id is -> '+ uniqueId)
}}
</script>
{% endblock %}